
{% extends "base.html" %}

{% block content %}
    <section class="page-name">
        <div class="section-padding">
            <div class="container">
                
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.page-name -->




    <section class="services">
        <div class="section-padding">
            <div class="container">
                <div class="items">
                    <div class="col-sm-4">
                        <ul class="service-nav">
                            <li ><a href="#"><i class="ti-clipboard"></i>Autres Services</a></li>
                            <li><a href="{{ baseUrl() }}/mineraldatabase"><i class="ti-light-bulb"></i> MINERAL &amp; GEOLOGICAL DATABASE</a></li>
                            <li class="active"><a href="#"><i class="ti-brush-alt"></i>MINING ECONOMY BENCHMARKS</a></li>
                            <li><a href="careerseducation"><i class="ti-paint-bucket"></i>CAREERS AND EDUCATION</a></li>
                            <li><a href="projectinvestment"><i class="ti-ruler-pencil"></i>PROJECT PROFILES AND INVESTMENT INCENTIVES</a></li>
                        </ul><!-- /.nav-tabs -->
                    </div>

                    <div class="col-sm-8">
                        <div class="details-content">
                            <div class="inner-bg">
                                <div class="padding">
					<div class="collapse in" id="" style="">
						  <a href="javascript:;" class="list-group-item">Formalités nécessaires à l’exportation des minerais et des échantillons en vrac (See cassiterite et or)</a>
						  <a href="javascript:;" class="list-group-item">Commodity prices/quotations and exchange rates (Prix et cours des matières premières minérales et taux de change)</a>
						  <a href="javascript:;" class="list-group-item">Indicative capital and operating costs (irrespective of the level of capital expenditure, a mineralized deposit should not be developed into a mine unless the estimated annual operating profit after taxes is judged sufficient to recover, with interest, the estimated capital cost of developing the mine)</a>
						  <a href="javascript:;" class="list-group-item">Recueil de données de base économique local pour les projets miniers</a>
						  <a href="javascript:;" class="list-group-item">Economie mondiale ; ressources minérales et perspectives pour le secteur minier camerounais</a>
						  <a href="javascript:;" class="list-group-item">Exploration and mining titles in Cameroon : an introductory review (also see exploration in evaluation infrastructure)</a>
						  <a href="javascript:;" class="list-group-item">Global iron ore mining to 2028 and perspectives of the Cameroon proven deposits</a>
						  <a href="javascript:;" class="list-group-item">L’exploitation minière au Cameroun: enjeux et défis</a>
						  <a href="javascript:;" class="list-group-item">Evolution de la politique minier du camerou</a>
					</div>			

                               </div><!-- /.padding -->
                            </div><!-- /.inner-bg -->

                            <div class="section-padding"></div><!-- /.section-padding -->

                     </div><!-- /.details-content -->
                    </div>
                </div><!-- /.items -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.services -->

{% endblock %}