
{% extends "base.html" %}

{% block content %}
    <section class="page-name">
        <div class="section-padding">
            <div class="container">
                
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.page-name -->




    <section class="services">
        <div class="section-padding">
            <div class="container">
                <div class="items">
                    <!-- <div class="col-sm-4">
                        <ul class="service-nav">
                            <li ><a href="#"><i class="ti-clipboard"></i>Autres Services</a></li>
                            <li class="active"><a href="#"><i class="ti-light-bulb"></i> MINERAL &amp; GEOLOGICAL DATABASE</a></li>
                            <li><a href="economybench"><i class="ti-brush-alt"></i>MINING ECONOMY BENCHMARKS</a></li>
                            <li><a href="careerseducation"><i class="ti-paint-bucket"></i>CAREERS AND EDUCATION</a></li>
                            <li><a href="projectinvestment"><i class="ti-ruler-pencil"></i>PROJECT PROFILES AND INVESTMENT INCENTIVES</a></li>
                        </ul><!-- /.nav-tabs -->
                    </div> 

                    <div class="col-sm-12">
                        <div class="details-content">
                            <div class="inner-bg">
                                <div class="padding">
					<div id="content-area">
        
                               		               <div class="tabs"></div>
                        
                          <h1 class="title">Cadre législatif et réglementaire des industries extractives</h1>
                        
          <div class="region region-content">
<article id="node-258" class="node node-page">

      <header>
                  <span property="dc:title" content="Cadre législatif et réglementaire des industries extractives" class="rdf-meta element-hidden"></span>
	  	  
    </header>
  
  <div class="content">
    <div class="field field-name-field-chapeau field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"> <p>Les industries extractives sont régies par le code minier pour les mines&nbsp;et par le code de l'environnement pour les carrières. Les carrières sont des Installations Classées pour la Protection de l'Environnement (ICPE).</p>
 </div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"> <h2><strong>Le régime des mines</strong></h2>
<p>Le code minier définit une liste exhaustive de substances de mines dont l'utilité publique justifie la possibilité d'accès à la ressource foncière nécessaire à leur exploration et leur exploitation. La notion de mine repose donc&nbsp;uniquement sur la nature de la substance, que l'exploitation se fasse à ciel ouvert ou en souterrain.</p>
<p>Sont concernés les combustibles comme la houille, le pétrole et le gaz, certains métaux précieux comme l'or et l'argent, des métaux de base comme le cuivre, le plomb, le fer ou le zinc, quelques substances à usage notamment industriel comme le sel et enfin des métaux stratégiques comme le tungstène ou l'indium. Le code minier a été étendu aux stockages souterrains d'énergie (&nbsp;gaz naturel et hydrocarbures liquides), à la géothermie et aux granulats marins (substances de carrière exploitées dans les fonds marins).</p>
<h2><strong>Le régime des carrières</strong></h2>
<p>Les substances non mentionnées comme relevant des mines sont considérées par défaut comme des substances de carrière. Elles relèvent de la rubrique 2510 de la nomenclature des installations classées</p>
<p>Les produits de carrières sont en majorité utilisés dans le secteur du bâtiment et des travaux publics : roches dures concassées, sables et graviers alluvionnaires, roches ornementales... Les matériaux de carrières peuvent également faire l'objet d'usages industriels comme les sables siliceux utilisés pour la production du verre ou du gypse servant à fabriquer le plâtre.</p>
<h2><strong>Le contrôle de l’activité</strong></h2>
<p>La police des mines et des carrières (suivi, surveillance et inspection des travaux) est assurée en France par des ingénieurs et techniciens des directions régionales de l’environnement, de l’aménagement et du logement (DREAL) sous l'autorité des préfets de département. Les agents assurant la police des mines et des carrières font fonction d'inspecteur du travail dans les mines et carrières.</p>
<p>&nbsp;</p>
 </div></div></div>  </div> <!-- /content -->

  
      <div class="links">
          </div> <!-- /links -->
  
    
  	
  </article> <!-- /article #node --></div>
         </div>		

                               </div><!-- /.padding -->
                            </div><!-- /.inner-bg -->

                            <div class="section-padding"></div><!-- /.section-padding -->

                     </div><!-- /.details-content -->
                    </div>
                </div><!-- /.items -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.services -->

{% endblock %}