
{% extends "base.html" %}

{% block content %}
    <section class="page-name">
        <div class="section-padding">
            <div class="container">
                
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.page-name -->




    <section class="services">
        <div class="section-padding">
            <div class="container">
                <div class="items">
                    <div class="col-sm-4">
                        <ul class="service-nav">
                            <li ><a href="#"><i class="ti-clipboard"></i>Autres Services</a></li>
                            <li class="active"><a href="#"><i class="ti-light-bulb"></i> MINERAL &amp; GEOLOGICAL DATABASE</a></li>
                            <li><a href="economybench"><i class="ti-brush-alt"></i>MINING ECONOMY BENCHMARKS</a></li>
                            <li><a href="careerseducation"><i class="ti-paint-bucket"></i>CAREERS AND EDUCATION</a></li>
                            <li><a href="projectinvestment"><i class="ti-ruler-pencil"></i>PROJECT PROFILES AND INVESTMENT INCENTIVES</a></li>
                        </ul><!-- /.nav-tabs -->
                    </div>

                    <div class="col-sm-8">
                        <div class="details-content">
                            <div class="inner-bg">
                                <div class="padding">
					<div class="collapse in" id="" style="">
						  <a href="javascript:;" class="list-group-item">Information géologique et minier de base (see évaluation infrastructure)</a>
						  <a href="javascript:;" class="list-group-item">Cartes géologiques</a>
						  <a href="javascript:;" class="list-group-item">Mineral commodity profiles</a>
						  <a href="javascript:;" class="list-group-item">Géologie du Cameroun</a>
						  <a href="javascript:;" class="list-group-item">Applications des connaissances géologiques à la recherche et à la mise en exploitation des substances minérales utiles</a>
						  <a href="javascript:;" class="list-group-item">Minéralisation en halite (Nacl) dans le bassin sédimentaire de Mamfe</a>
						  <a href="javascript:;" class="list-group-item">Potentiels miniers</a>
						  <a href="javascript:;" class="list-group-item">Potentiels énergétiques</a>
						  <a href="javascript:;" class="list-group-item">Contextes géologiques favorables à l’exploration minière</a>
						  <a href="javascript:;" class="list-group-item">Contextes géologiques favorables à l’exploration de l’or au Cameroun</a>
						  <a href="javascript:;" class="list-group-item">Geological and commercial factors applicable to bulk minerals (see ALS CHEMEX)</a>
						  <a href="javascript:;" class="list-group-item">Analytical networks applicable to exploration and deposit evaluation</a>
						  <a href="javascript:;" class="list-group-item">Forms in which minerals/commodities are found</a>
						  <a href="javascript:;" class="list-group-item">A guide for exploration and mining licence holders preparing exploration work plans (standard work plans: guidelines for mineral exploration)a>
						  <a href="javascript:;" class="list-group-item">Equipment (see excel sheet for ASM)</a>
					</div>			

                               </div><!-- /.padding -->
                            </div><!-- /.inner-bg -->

                            <div class="section-padding"></div><!-- /.section-padding -->

                     </div><!-- /.details-content -->
                    </div>
                </div><!-- /.items -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.services -->

{% endblock %}