
{% extends "base.html" %}

{% block content %}
    <section class="page-name">
        <div class="section-padding">
            <div class="container">
                
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.page-name -->




    <section class="services">
        <div class="section-padding">
            <div class="container">
                <div class="items">
                    <!-- <div class="col-sm-4">
                        <ul class="service-nav">
                            <li ><a href="#"><i class="ti-clipboard"></i>Autres Services</a></li>
                            <li><a href="{{ baseUrl() }}/mineraldatabase"><i class="ti-light-bulb"></i> MINERAL &amp; GEOLOGICAL DATABASE</a></li>
                            <li class="active"><a href="#"><i class="ti-brush-alt"></i>MINING ECONOMY BENCHMARKS</a></li>
                            <li><a href="careerseducation"><i class="ti-paint-bucket"></i>CAREERS AND EDUCATION</a></li>
                            <li><a href="projectinvestment"><i class="ti-ruler-pencil"></i>PROJECT PROFILES AND INVESTMENT INCENTIVES</a></li>
                        </ul><!-- /.nav-tabs -->
                    </div> 

                    <div class="col-sm-12">
                        <div class="details-content">
                            <div class="inner-bg">
                                <div class="padding">
					<div id="content-area">
        
                               		               <div class="tabs"></div>
                        
                          <h1 class="title">Législation et réglementation minière</h1>
                        
          <div class="region region-content">
<article id="node-261" class="node node-page">

      <header>
                  <span property="dc:title" content="Législation et réglementation minière" class="rdf-meta element-hidden"></span>
	  	  
    </header>
  
  <div class="content">
    <div class="field field-name-field-chapeau field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"> <p>Le code minier a été créé en 1956 par la reprise de la loi de 1810. Plusieurs fois remanié, sa recodification en 2011 a abouti à l'ordonnance 2011-91, actuellement en vigueur. Un chantier de réforme du code minier est en cours, visant notamment à le mettre en conformité avec la Charte de l'environnement.</p>
 </div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"> <h2><strong>Les titres miniers</strong></h2>
<p>Le Code minier donne à une entreprise la possibilité de pratiquer des travaux d’exploration, via l’obtention&nbsp;d’un permis exclusif de recherches, d’une autorisation de prospections préalables (en mer) ou d’une autorisation de recherches de gîtes géothermiques, et d’exploiter une mine, via l’obtention d’une concession, et ce, même en l’absence de l’autorisation du propriétaire du sol.</p>
<p>Le titre minier permet la reconnaissance des droits immobiliers de son détenteur mais n’autorise pas l’ouverture des travaux qui font l'objet d'une procédure distincte. Le titre minier est délivré par le ministre chargé des mines au demandeur qui a notamment justifié de ses capacités techniques et financières.</p>
<p>Les procédures sont réglementées par le décret n° 2006-648 du 2 juin 2006 relatif aux titres miniers et aux titres de stockage souterrain<strong>.</strong></p>
<h2><strong>Les travaux miniers</strong></h2>
<p>C’est dans la procédure d’ouverture de travaux que l’on vérifie la prise en compte de la sensibilité de l’environnement du projet et que sont définies les prescriptions adaptées à la protection de l’environnement du site. Selon les dangers et risques qu'ils comportent, les travaux miniers peuvent faire l'objet d'une déclaration auprès du préfet, ou d'une autorisation, accordée après la tenue d'une enquête publique et la fourniture d'une étude d'impact par le pétitionnaire. Le décret n°2006-649 du 2 juin 2006 relatif aux travaux miniers, aux travaux de stockage souterrain et à la police des mines et des stockages souterrains définit le cadre réglementaire des travaux miniers.</p>
<p>La police des mines (suivi, surveillance et inspection des travaux miniers) est assurée en France par des ingénieurs et techniciens placés sous les ordres des directeurs régionaux de l’environnement, de l’aménagement et du logement (DREAL). Les agents assurant la police des mines assurent aussi les missions d’inspection du travail dans les mines.</p>
<h2><strong>L'exploitation des substances de mines dans une carrière</strong></h2>
<p>La formation géologique d’un gîte peut faire coexister des substances de carrières et de mines. De ce fait, un exploitant de carrière peut exploiter des substances de mines dans certaines conditions après y avoir été autorisé par le ministre chargé des mines (&nbsp;article&nbsp;L.131-2 du code minier).</p>
<h2><strong>L'arrêt définitif des travaux et "l'après-mine"</strong></h2>
<p>La réglementation minière prévoit des procédures d’arrêt des travaux&nbsp;ainsi que&nbsp;de prévention et de surveillance des risques miniers.</p>
<p>Ces dispositions imposent à l’exploitant de prendre toutes les mesures nécessaires pour prévenir les dégâts potentiels occasionnés par l’exploitation (affaissement miniers, inondations, rejets d’effluents polluants...). L’arrêt des travaux s’accompagne ainsi d’études sur le risque, l’impact hydrologique et de divers travaux de mise en sécurité (stabilisation des haldes et terrils, démolition d’installations vétustes, prévention des risques de pollution des eaux…)</p>
<p>Le code minier responsabilise l’ancien titulaire de la concession minière sans limitation de durée pour les dégâts que pourraient provoquer ses travaux. Néanmoins, si l’ancien titulaire ne peut pas assurer la réparation des dommages, ils reviennent à la charge de l’État.</p>
<p>En outre, la fin de validité du titre minier transfère à l’État la responsabilité de la surveillance et de la prévention des risques. La loi n°&nbsp;99-245 du 30 mars 1999 dite <strong>"loi après-mine",</strong> réformant le code minier, confie en particulier à l’Etat la prise en charge des problèmes posés par la cessation de l’exploitation minière, au titre de la solidarité nationale. L’État est ainsi amené à reprendre à sa charge les travaux d’entretien d’ouvrages de sécurité sur d’anciens sites miniers, notamment ceux dont le titulaire initial a disparu ainsi que ceux pour lesquels l’arrêt des travaux et la renonciation aux concessions de mines est intervenue depuis plus de 10 ans.</p>
 </div></div></div><div class="field field-name-field-encadre field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"> <p><strong>LES OUTRE-MER ET LE DROIT MINIER</strong></p>
<p>L’application du code minier métropolitain a été étendue aux départements d’Outre-mer. A cette occasion, un régime spécifique a été adopté par le législateur permettant une instruction plus rapide et répondant à la nature artisanale d'une partie des exploitations.</p>
<p>Une commission départementale des mines regroupant notamment les associations de protection de l'environnement et les élus, est réunie dans chaque département d’Outre-mer. En Guyane, dont l’industrie aurifère constitue la seconde richesse locale, un schéma départemental d’orientation minière a été mis en place, indiquant les zones fermées pour des raisons environnementales à l’activité minière ou ouvertes aux entreprises.</p>
<p>La Polynésie et la Nouvelle-Calédonie ont la compétence de délivrer les titres miniers et de controler les exploitations, elles disposent d'un code minier spécifique .</p>
<p>Pour les autres collectivités, le code minier métropolitain s’applique au cas par cas sous réserve des adaptations imposées par les dispositions relatives à leur statut.</p>
<p>&nbsp;</p>
<p><strong>REFORME DU CODE MINIER – PROPOSITION DE LOI PORTANT ADAPTATION DU CODE MINIER AU DROIT DE L’ENVIRONNEMENT</strong></p>
<p>Engagée depuis plusieurs années, le projet de réforme du code minier s’est matérialisé sous forme de proposition de loi déposée à l’Assemblée nationale le 23 novembre 2016. Cette proposition s’inspire des travaux conduits par Thierry Tuot de 2012 à 2013.</p>
<p>Outre la ratification de l’ordonnance du 20 janvier 2011 portant codification de la partie législative du code minier, elle vise à adapter le code minier au droit de l’environnement et notamment à la Charte de l’environnement.</p>
<p>Elle prévoit notamment :</p>
<ul><li>la prise en compte des enjeux environnementaux dans la délivrance des titres miniers, en les soumettant à une évaluation environnementale et en introduisant la possibilité de refuser un titre minier si sa mise en œuvre est de nature à avoir des impacts graves sur les intérêts correspondants ;</li>
<li>la création d’une procédure renforcée d’information et de concertation du public, avec la possibilité de mettre en place un groupement participatif d’information et de concertation réunissant les populations locales, les collectivités, les associations, etc.</li>
<li>la création d’un Haut Conseil des mines, lieu du dialogue stratégique entre les parties prenantes de l’exploration et de l’exploitation des ressources du sous-sol ;</li>
<li>la définition d’une politique nationale des ressources et des usages miniers, déterminant les orientations nationales de gestion et de valorisation des ressources connues ou estimées pour servir les intérêts économiques, environnementaux et sociaux des territoires et de la Nation, en cohérence avec la stratégie nationale de transition vers l’économie circulaire et le plan de programmation des ressources introduits par l’article 69 de la loi pour la transition énergétique et la croissance verte. La politique nationale des ressources tient compte de la raréfaction des ressources et des accords de Paris sur le climat ;</li>
<li>la création d’une «&nbsp;mission d'indemnisation de l'après mine&nbsp;» et le renforcement de la responsabilité des sociétés mères et grands-mères en matière de dégâts miniers.</li>
</ul>
 </div></div></div><!--
THIS FILE IS NOT USED AND IS HERE AS A STARTING POINT FOR CUSTOMIZATION ONLY.
See http://api.drupal.org/api/function/theme_field/7 for details.
After copying this file to your theme's folder and customizing it, remove this
HTML comment.
-->

  </div> <!-- /content -->

  
      <div class="links">
          </div> <!-- /links -->
  
    
  
  </article> <!-- /article #node --></div>
         </div>			

                               </div><!-- /.padding -->
                            </div><!-- /.inner-bg -->

                            <div class="section-padding"></div><!-- /.section-padding -->

                     </div><!-- /.details-content -->
                    </div>
                </div><!-- /.items -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.services -->

{% endblock %}