
{% extends "base.html" %}

{% block content %}
    <section class="page-name">
        <div class="section-padding">
            <div class="container">
                
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.page-name -->




    <section class="services">
        <div class="section-padding">
            <div class="container">
                <div class="items">
                    <div class="col-sm-4">
                        <ul class="service-nav">
                            <li ><a href="#"><i class="ti-clipboard"></i>Autres Services</a></li>
                            <li><a href="{{ baseUrl() }}/mineraldatabase"><i class="ti-light-bulb"></i> MINERAL &amp; GEOLOGICAL DATABASE</a></li>
                            <li class="active"><a href="#"><i class="ti-brush-alt"></i>MINING ECONOMY BENCHMARKS</a></li>
                            <li><a href="careerseducation"><i class="ti-paint-bucket"></i>CAREERS AND EDUCATION</a></li>
                            <li><a href="projectinvestment"><i class="ti-ruler-pencil"></i>PROJECT PROFILES AND INVESTMENT INCENTIVES</a></li>
                        </ul><!-- /.nav-tabs -->
                    </div>

                    <div class="col-sm-8">
                        <div class="details-content">
                            <div class="inner-bg">
                                <div class="padding">
					<div class="collapse in" id="" style="">
						  <a href="javascript:;" class="list-group-item">Cameroon Mining Legislative and Regulatory Framework</a>
						  <a href="javascript:;" class="list-group-item">Mining law (see workshop australia)</a>
						  <a href="javascript:;" class="list-group-item">Mineral exploration: exploration laws explained</a>
						  <a href="javascript:;" class="list-group-item">Mineral development under mining permit: a guide to land owners and answers to the most asked questions</a>
						  <a href="javascript:;" class="list-group-item">Cahier de charge, relatif au occupations temporaires du domaine publique nationale aux privées de l’Etat en vue d’exploitation des carriers </a>
						  <a href="javascript:;" class="list-group-item">Stakeholders</a>
						  <a href="javascript:;" class="list-group-item">Mining taxation</a>
						  <a href="javascript:;" class="list-group-item">Reporting Standards as required by the Mining Code</a>
						  <a href="javascript:;" class="list-group-item">Mining Compliance including Environmental Compliance</a>
						  <a href="javascript:;" class="list-group-item">Levels of feasibility studies: back of the envelop, pre-feasibility, etc (see page 22 of mining valuation handbook)</a>
					</div>			

                               </div><!-- /.padding -->
                            </div><!-- /.inner-bg -->

                            <div class="section-padding"></div><!-- /.section-padding -->

                     </div><!-- /.details-content -->
                    </div>
                </div><!-- /.items -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.services -->

{% endblock %}