{% extends "base.html" %}

{% block content %}
    <section class="page-name">
        <div class="section-padding">
            <div class="container">
                <div class="name-section background-bg" data-image-src="images/bg3.jpg">
                    <div class="overlay">
                        <div class="padding">
                            <h2 class="page-title">Services</h2><!-- /.page-ttile -->
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">Service Page</li>
                            </ol>
                        </div><!-- /.padding -->
                    </div><!-- /.overlay -->
                </div><!-- /.name-section -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.page-name -->




    <section class="services">
        <div class="section-padding">
            <div class="container">
                <div class="items">
                    <div class="col-sm-4">
                        <div class="item">
                            <div class="item-image"><img src="images/service/1.jpg" alt="Service Image"></div><!-- /.item-image -->
                            <div class="item-details">
                                <div class="padding">
                                    <h3 class="item-title">General Builder</h3><!-- /.item-title -->
                                    <p class="description">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                                    </p><!-- /.description -->
                                    <a href="#" class="btn read-more">Read more <i class="ti-arrow-right"></i></a>
                                </div><!-- /.padding -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->
                    </div>

                    <div class="col-sm-4">
                        <div class="item">
                            <div class="item-image"><img src="images/service/2.jpg" alt="Service Image"></div><!-- /.item-image -->
                            <div class="item-details">
                                <div class="padding">
                                    <h3 class="item-title">House Renovation</h3><!-- /.item-title -->
                                    <p class="description">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                                    </p><!-- /.description -->
                                    <a href="#" class="btn read-more">Read more <i class="ti-arrow-right"></i></a>
                                </div><!-- /.padding -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->
                    </div>

                    <div class="col-sm-4">
                        <div class="item">
                            <div class="item-image"><img src="images/service/3.jpg" alt="Service Image"></div><!-- /.item-image -->
                            <div class="item-details">
                                <div class="padding">
                                    <h3 class="item-title">Energy Maintainence</h3><!-- /.item-title -->
                                    <p class="description">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                                    </p><!-- /.description -->
                                    <a href="#" class="btn read-more">Read more <i class="ti-arrow-right"></i></a>
                                </div><!-- /.padding -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->
                    </div>

                    <div class="col-sm-4">
                        <div class="item">
                            <div class="item-image"><img src="images/service/4.jpg" alt="Service Image"></div><!-- /.item-image -->
                            <div class="item-details">
                                <div class="padding">
                                    <h3 class="item-title">Interior Design</h3><!-- /.item-title -->
                                    <p class="description">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                                    </p><!-- /.description -->
                                    <a href="#" class="btn read-more">Read more <i class="ti-arrow-right"></i></a>
                                </div><!-- /.padding -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->
                    </div>

                    <div class="col-sm-4">
                        <div class="item">
                            <div class="item-image"><img src="images/service/5.jpg" alt="Service Image"></div><!-- /.item-image -->
                            <div class="item-details">
                                <div class="padding">
                                    <h3 class="item-title">Exterior Design</h3><!-- /.item-title -->
                                    <p class="description">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                                    </p><!-- /.description -->
                                    <a href="#" class="btn read-more">Read more <i class="ti-arrow-right"></i></a>
                                </div><!-- /.padding -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->
                    </div>

                    <div class="col-sm-4">
                        <div class="item">
                            <div class="item-image"><img src="images/service/6.jpg" alt="Service Image"></div><!-- /.item-image -->
                            <div class="item-details">
                                <div class="padding">
                                    <h3 class="item-title">Refurbishment</h3><!-- /.item-title -->
                                    <p class="description">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                                    </p><!-- /.description -->
                                    <a href="#" class="btn read-more">Read more <i class="ti-arrow-right"></i></a>
                                </div><!-- /.padding -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->
                    </div>
                </div><!-- /.items -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.services -->
    



    <section class="process">
        <div class="section-padding">
            <div class="container">
                <div class="items">
                    <div class="col-sm-7">
                        <div class="inner-bg">
                            <h2 class="section-title">Our process</h2><!-- /.section-title -->
                            <div class="padding">
                                <div class="item media">
                                    <div class="item-icon media-left"><i class="ti-light-bulb"></i></div><!-- /.item-icon -->
                                    <div class="item-details media-body">
                                        <h3 class="item-title">1. Brainstorming and Planing</h3><!-- /.item-title -->
                                        <p class="description">
                                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                        </p><!-- /.description -->
                                    </div><!-- /.item-details -->
                                </div><!-- /.item -->

                                <div class="item media">
                                    <div class="item-icon media-left"><i class="ti-ruler-pencil"></i></div><!-- /.item-icon -->
                                    <div class="item-details media-body">
                                        <h3 class="item-title">2. Executing the Best Result</h3><!-- /.item-title -->
                                        <p class="description">
                                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                        </p><!-- /.description -->
                                    </div><!-- /.item-details -->
                                </div><!-- /.item -->

                                <div class="item media">
                                    <div class="item-icon media-left"><i class="ti-thumb-up"></i></div><!-- /.item-icon -->
                                    <div class="item-details media-body">
                                        <h3 class="item-title">3. Delivering to the Satisfied Client</h3><!-- /.item-title -->
                                        <p class="description">
                                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                        </p><!-- /.description -->
                                    </div><!-- /.item-details -->
                                </div><!-- /.item -->
                            </div><!-- /.padding -->
                        </div><!-- /.inner-bg -->
                    </div>

                    <div class="col-sm-5">
                        <div class="inner-bg">
                            <div class="image"><img src="images/service/7.jpg" alt="Service Image"></div><!-- /.image -->
                            <h2 class="section-title">We Ensure Best Services</h2><!-- /.section-ttile -->
                            <div class="padding">
                                <p class="description">
                                    Excepteur sint occaecat cupidatat non proident perspiciatis Sed omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                </p><!-- /.description -->
                                <a href="#" class="btn read-more">Read more <i class="ti-arrow-right"></i></a><!-- /.btn -->
                            </div><!-- /.padding -->
                        </div><!-- /.inner-bg -->
                    </div>
                </div><!-- /.items -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.process -->
{% endblock %}