
{% extends "base.html" %}

{% block content %}
    <section class="page-name">
        <div class="section-padding">
            <div class="container">
                
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.page-name -->




    <section class="services">
        <div class="section-padding">
            <div class="container">
                <div class="items">
                    <div class="col-sm-4">
                        <ul class="service-nav">
                            <li ><a href="#"><i class="ti-clipboard"></i>All Services</a></li>
                            <li ><a href="{{ baseUrl() }}/mineraldatabase"><i class="ti-light-bulb"></i> MINERAL &amp; GEOLOGICAL DATABASE</a></li>
                            <li><a href="economybench"><i class="ti-brush-alt"></i>MINING ECONOMY BENCHMARKS</a></li>
                            <li><a href="careerseducation"><i class="ti-paint-bucket"></i>CAREERS AND EDUCATION</a></li>
                            <li class="active"><a href="#"><i class="ti-ruler-pencil"></i>PROJECT PROFILES AND INVESTMENT INCENTIVES</a></li>
                        </ul><!-- /.nav-tabs -->
                    </div>

                    <div class="col-sm-8">
                        <div class="details-content">
                            <div class="inner-bg">
                                <div class="padding">
					<div class="collapse in" id="" style="">
						  <a href="javascript:;" class="list-group-item">Steel related products, melting and rolling facility</a>
						  <a href="javascript:;" class="list-group-item">Titanium pigment plant: production du blank de titane à partir du rutile de la mine du groupe de Yaoundé </a>
						  <a href="javascript:;" class="list-group-item">Refractory bricks manufacturing from kyanite</a>
						  <a href="javascript:;" class="list-group-item">Bentonite</a>
						  <a href="javascript:;" class="list-group-item">Kaolin</a>
						  <a href="javascript:;" class="list-group-item">Nepheline syenite</a>
						  <a href="javascript:;" class="list-group-item">Aluminium Casting, cold rolling and sheet processing facility</a>
						  <a href="javascript:;" class="list-group-item">Abrasives</a>
						  <a href="javascript:;" class="list-group-item">Calcium carbonate/ Lime Plant</a>
						  <a href="javascript:;" class="list-group-item">Float Glass Factory</a>
						  <a href="javascript:;" class="list-group-item">Soldering Wire Plant</a>
						  <a href="javascript:;" class="list-group-item">Silicon Carbide plant</a>
					</div>			

                               </div><!-- /.padding -->
                            </div><!-- /.inner-bg -->

                            <div class="section-padding"></div><!-- /.section-padding -->

                     </div><!-- /.details-content -->
                    </div>
                </div><!-- /.items -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.services -->

{% endblock %}